@model Trabajo_Final.ViewModel.CatalogoViewModel
@{
    ViewData["Title"] = "Catalogo";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Catalogo"]</title>
    <!-- Bootstrap icons-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="~/css/Catalogo/site.css" asp-append-version="true" />

</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">Todos los productos</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            @foreach (var item in Model.ListCategoria)
                            {
                                <li><a class="dropdown-item" href="#!">@Html.DisplayFor(modelItem => item.Nombre)</a></li>
                            }
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" method="get" asp-action="Index">
                    <input class="form-control me-2" type="search" placeholder="Buscar productos" aria-label="Search" name="searchString">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">INFOCOM TECHNOLOGY</h1>
                <p class="lead fw-normal text-white-50 mb-0">Tu tienda de tecnología de confianza</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var item in Model.ListProducto)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="@item.ImageURL" alt="Imagen no encontrada" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                                    <!-- Product price-->
                                    @Html.DisplayFor(modelItem => item.Precio)
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" asp-controller="Productos" asp-action="Details" asp-route-id="@item.Id">Ver Detalles</a>
                                    <a class="btn btn-outline-dark mt-auto" asp-controller="Carrito" asp-action="Agregar" asp-route-id="@item.Id">Agregar al Carrito</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- Bootstrap core JS-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/Catalogo/site.js" asp-append-version="true"></script>
</body>
